<div>

  <select class="form-control"
    (change)="onIdTypeChange($event.value)"
    [(ngModel)] = "identity.identityType">
     <option  *ngFor="let type of identityTypes"
               [value]="type.value">
        {{type.label}}
    </option>
  </select>
</div>
<div class="id-input">
  <div class="full-width">
    <input class="form-control"
           type="text"
           placeholder="证件号码"
           (change)="onIdNoChange($event.target.value)"
           [(ngModel)]="identity.identityNo" />


  </div>
</div>

