<form (ngSubmit)="onSubmit(form, $event)" [formGroup]="form">
  <div class="form-group">
    <label for="email">邮箱</label>
    <input type="text" class="form-control" id="email"
           formControlName="email"
           name="email"
           placeholder="请输入注册邮箱">
  </div>
  <p *ngIf="form.get('email').hasError('email')" class="warn-error">
    邮箱不合法
  </p>
  <p *ngIf="form.get('email').hasError('required')" class="warn-error">
    邮箱不能为空
  </p>
  <p *ngIf="form.get('email').hasError('maxLength')" class="warn-error">
    邮箱不能超过20个字
  </p>
  <div class="form-group">
    <label for="password">密码</label>
    <input type="password" class="form-control"
           name="password"
           id="password" placeholder="请输入密码"
           formControlName="password">
  </div>
  <p *ngIf="form.get('password').hasError('required')" class="warn-error">
    密码不能为空
  </p>
  <p *ngIf="form.get('password').hasError('minLength')" class="warn-error">
    密码输入太短
  </p>

  <button type="submit" class="btn btn-primary"  >提交</button>
  <p> 还没有 账户 ?  <a routerLink="/register">注册</a></p>
</form>
