<ul class="nav nav-primary">
  <li routerLinkActive="active">
    <a  routerLink="/start/dispose/uncheckuser">未审核账号 </a>
  </li>
  <li routerLinkActive="active">
    <a  routerLink="/start/dispose/uncheckmsg">未审核消息</a>
  </li>
  <li routerLinkActive="active">
    <a  routerLink="/start/dispose/checkuser">已审核账号</a>
  </li>
  <li routerLinkActive="active">
    <a  routerLink="/start/dispose/checkmsg">已审核消息</a>
  </li>
  <li routerLinkActive="active">
    <a  routerLink="/start/dispose/alarm">处置警告</a>
  </li>
</ul>
