.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  border:  1px solid #ddd;
  border-radius: 5px ;
  margin-top: 200px;
}

.card {
  flex: 0 1 20rem;
}

.text-right {
  margin: 10px;
  text-align: end;
}

:host {
  display: flex;
}

